Bootstrap: docker
From: mambaorg/micromamba:latest

%files
    envs/scverse-python.yml /tmp/scverse-python.yml

%post
    micromamba install -y -n base -f /tmp/scverse-python.yml
    micromamba clean -a -y

%runscript
    python "$@"

